.texto {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.campo_cadastro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.campo_cadastro div {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;

    flex-basis: 100%;
    gap: 10px;
    margin: 10px;
}

.top input {
    width: 200px;
}

.down {
    display: flex;

    flex-basis: 100%;
    margin: 10px;
}

.down input {
    width: 420px;
}

.botao input {
    margin: 10px;
    width: 420px;

    background-color:darkslategray;
    color:white;
}

.tabela {
    display: flex;

    flex-basis: 100%;
    margin:10px;
    width: 100%;
    
    border:1px solid;
}

.tabela table {
    width: 100%;
}

.tabela td, .tabela th {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
